.btn.be-btn-add {
    padding: 8.5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 13px;
    text-transform: capitalize;
    background: #013c4d;
    color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.23);

    svg {
        display: block;
    }
}
